
:root{

    --color_background_white: #fff;
    --coloraqua: #3AAFA9;
    --coloraqua2:  #2B7A78;
    --coloraquafuerte: #17252A;
    --colorwhite2: #DEF2F1;
    --colorwhite1: #FEFFFF;

    --color_background_white: #FEFFFF;
    --color--acento-background: #3AAFA9;
    --color--acento-dark-background: #17242A;
    --color--acento-guias: #2B7A78;
    --color-buttons-light: #DEF2F1;
}

