@import url(colors.css);


@media (max-width: 767.98px) { 
    .navbar{
        padding-inline-start: 1rem;
    }
 }



.navbar{
    background-color: var(--color-buttons-light);
    /* height: 92px; */
    border-bottom: 2.5px solid var(--color-buttons-light);

}

.navbar-style-list{
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    list-style: none;
    padding-inline-start: 0 !important;
    padding-bottom: 0.5rem;
    margin-bottom: 0rem;
    margin-top: 0.5rem; 
    width: 100%;
    justify-content: space-between;
}

    
.navbar-top-style-list{
    width: 50%;
}
    

    .navbar-top-style-list a{
        color: var(--color--acento-guias);
    }



.containerpadding {
    height: 50px;
    width: 100%; }


.brand a{
    font-weight: 700;
    font-size: 2rem;
    color: var(--color--acento-guias);
    text-decoration: none;
}




#bdNavbar{
    font-size: 1.4rem;
    
}


#bdNavbar ul > li a{
    color: var(--color--acento-guias);
    margin-top: 15px;
    font-weight: 500;

}



/* #header-nav li > ul > li a {
    background-color: red;
    font-size: 80%;
  } */