@media (max-width: 1200px) {
    .navbar-top-style-list {
      display: none; } }
  
  @media (min-width: 1200px) {
    .container-button {
      display: none; }
    #navtop {
      display: inline-flex !important; } }
  