@import url(colors.css);


.card-body{
    width: 210px;
    min-height: 250px;
    min-width: none;
    /* max-height: 210px; */
}

.card-price{
    text-align: center;
    background-color: var(--colorwhite1);
    margin-bottom: 10%;
    margin-top: 2%;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .30rem;
}

.price-title{
    font-weight: 600;
    color: var(--color--acento-background);
    font-size: 1.5rem;
    text-align: start;
    margin-left: 5%;
}

.code-img{
    width: 100%;
    max-width: 150px;
    /* margin-inline-start: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem; */

}

.img-services{
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    margin-bottom: 10%!important;
    margin-top: 20%;
}

.price-from,.price-cost{
    font-weight: 600;
    color: var(--color--acento-background);
    justify-content: space-evenly;
    font-size: 22px;
    font-weight: 600;
    margin-left: 5%;
}
.list-group{
    list-style: none;
    color: #2B7A77;
    margin-top: 5%!important;
    margin-bottom: 5%!important;
    line-height: 2;
    text-align: start;
    margin-left: 5%;
    font-family: pesa-Medium;
}
.btnContact{
    margin: 10% 0% 10% 0%;
    font-size: 24px!important;
    font-weight: 600!important;
    color: var(--colorwhite1)!important;
    background-color:var(--coloraqua)!important;
    padding-left: 35px!important;
    padding-right: 35px!important;
}
@media only screen and (max-width:480px) {

    .card-price{
        width:45%!important;
    }
    .btnContact{
        padding-left: 5px!important;
        padding-right: 5px!important;
        font-size: 1.2rem!important;
    }
    .list-group{
        white-space: nowrap;
        text-overflow: ellipsis!important;
        overflow: hidden!important;
    }
 }

 /* en tablet width de 35%*/